.logo{
  display: flex;
  justify-content: center;
}
.form-container{
  font-size: 1.2rem;
  background-color: rgba(0,0,0,0.5);
  padding: 60px 50px;
  border-radius: 20px;
  width: 400px;
  position: absolute;
  top: 30%;
  bottom:24%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
}

.input-text{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  font-weight: bold;
}

.input-check{
  display: flex;
  flex-direction: row;
  margin-left: -80px;
}

.input-text input{
  width: 16rem;
  height: 1.8rem;
  border: 1px solid white;
  border-radius: 10px;
}

label{
  margin-right: 20px;
}


button{
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: white;
  background-color: limegreen;
  border: 5px solid limegreen;
  border-radius: 15px;
  font-weight: bold;
  padding: 5px 20px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  margin: 30px auto 0 auto;
  font-size: 1.2rem;
}

p{
  font-weight: bold;
}

.input-check input{
  width: 16rem;
  border: 1px solid white;
  margin-right: -100px;
}

.slidein{
  animation: slidein 2s ease;
  left: -1%;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% { 
    transform: translateX(10px); 
  }
  100% { 
    transform: translateX(0px); }
}

@media screen and (max-width: 300px) {
  .form-container{
    font-size: 0.8rem;
    padding: 25px 25px;
    width: 200px;
    height: 210px;
    position: absolute;
    margin: auto;
  }

  img {
    width: 300px;
  }

  .slidein{
    position: absolute;
    top: 15%;
    left: -4%;
  }

  .input-check{
    margin-left: -100px;
  }

  .input-text input{
    width: 7rem;
    height: 1rem;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 0.8rem;
    padding: 0 5px;
  }

  button{
    font-size: 0.8rem;
    padding: 2px 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .form-container{
    font-size: 0.8rem;
    padding: 30px 30px;
    width: 250px;
    height: 210px;
    position: absolute;
    margin: auto;
  }

  img {
    width: 380px;
  }

  .slidein{
    position: absolute;
    top: 15%;
    left: 1%;
  }

  .input-check{
    margin-left: -100px;
  }

  .input-text input{
    width: 10rem;
    height: 1rem;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 0.8rem;
    padding: 0 5px;
  }

  button{
    font-size: 0.8rem;
    padding: 5px 12px;
  }
}

@media screen and (min-width: 500px) and (max-width: 540px) {
  .form-container{
    font-size: 0.8rem;
    padding: 30px 30px;
    width: 250px;
    height: 210px;
    position: absolute;
    margin: auto;
  }

  img {
    width: 380px;
  }

  .slidein{
    position: absolute;
    top: 15%;
    left: 15%;
  }

  .input-check{
    margin-left: -100px;
  }

  .input-text input{
    width: 10rem;
    height: 1rem;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 0.8rem;
    padding: 0 6px;
  }

  button{
    font-size: 0.8rem;
    padding: 5px 12px;
  }
}

@media screen and (min-width: 541px) and (max-width: 900px) and (min-height: 1024px){
  .form-container{
    font-size: 1.7rem;
    padding: 60px 60px;
    width: 500px;
    height: 400px;
    position: absolute;
    margin: auto;
  }

  img {
    width: 550px;
  }

  .slidein{
    position: absolute;
    top: 10%;
    left: 15%;
  }

  .input-check{
    margin-left: -100px;
  }

  .input-text{
    margin-bottom: 40px;
  }
  .input-text input{
    width: 21rem;
    height: 2.3rem;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 1.7rem;
    padding: 0 10px;
  }

  button{
    font-size: 1.7rem;
    padding: 5px 20px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1020px) and (max-width: 1360px){
  .form-container{
    font-size: 1.3rem;
    padding: 50px 50px;
    width: 400px;
    height: 290px;
    position: absolute;
    margin: auto;
  }

  img {
    width: 780px;
  }

  .slidein{
    position: absolute;
    top: 2%;
    left: 10%;
  }

  .input-check{
    margin-left: -100px;
  }

  .input-text input{
    width: 16rem;
    height: 2rem;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 1.7rem;
    padding: 0 10px;
  }

  button{
    font-size: 1.3rem;
    padding: 5px 20px;
  }
}

@media screen and (min-width: 1024px) and (max-height: 600px) {
  .form-container{
    font-size: 1rem;
    padding: 40px 40px;
    width: 300px;
    height: 250px;
    position: absolute;
    margin: auto;
  }

  img {
    width: 600px;
  }

  .slidein{
    position: absolute;
    top: -5%;
    left: 21%;
  }

  .input-check{
    margin-left: -100px;
  }

  .input-check input{
    width: 17rem;
    height: 1.2rem;
    margin-top: 4px;
    margin-left: 10px;
  }

  .input-text input{
    width: 11rem;
    height: 1.4rem;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 1.2rem;
    padding: 0 10px;
  }

  button{
    font-size: 1rem;
    padding: 5px 20px;
  }
}
